<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1 center">
      <h3><%= @meeting.display %></h3>
      <h4><%= @meeting.room.name %></h4>
      <% if user_signed_in? %>
        <%= form_for [@meeting.day, @meeting] do |f|%>
          <br />
      ​
          <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title, required: true %>
          </div>
      ​
          <div class="field">
              <%= f.label :description %>
              <%= f.text_area :description %>
          </div>
      ​
          <div class="field">
              <%= f.label :host %>
              <%= f.text_field :host %>
          </div>
      ​
          <br />
          <%= f.submit 'Submit', class: 'btn', onclick: "Materialize.showStaggeredList('#staggered-test')" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>