<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div c></div>
      <ul class="collection">
        <% @days.each do |day| %>
          <%= link_to day_path(day) do %>
           <li class="collection-item"><%= day.date.strftime("%D") %></li>
          <% end %>
          <% Room.all.each do |room|%>
            <ul class="collection-item">
            <% if day.meetings.where(room_id: room.id).where.not(title: nil).order('id asc').any? %>
              <%= room.name %>
              <% day.meetings.where(room_id: room.id).where.not(title: nil).order('id asc').each do |meeting| %>
                <%= link_to day_meeting_path(day, meeting) do %>
                 <li class="collection-item">
                 <div class="col s4 m4 left-align"><%= meeting.display %></div>
                 <div class="col s4 m4 center"><%= meeting.title %></div>
                 <div class="col s4 m4 right-align">Hosted by: <%= meeting.host %></div></li>
                <% end %>
              <% end %>
            <% end %>
            </ul>
          <% end %>  
        <% end %>
      </ul>
      <%= will_paginate @days, class: 'center' %>
    </div>
  </div>
</div>